*{
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

img{
    
    background-color:#182625;
    width: 70px;
    height: 70px;
    
}

header{
    display:flex;
    justify-content: space-between;
    background-color: #182625;
    border-bottom: 10px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}p

nav{
    
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    background-color: #3D5A73;
    width: 10px;
    height: 10px;
    margin-right: 10px; 
    

}


#button{
    display: inline-block;
    background-color: #3D5A73;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
}

#button:hover{
    background-color: #3d5a7391;
    border-radius: 20px;
    
}

h1{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #F25A70;
    text-shadow: 4px 4px 0px #000000;
}

/*
h2{
    font-family: 'Press Start 2P';
    font-size: 30px;
    color: #fff;
    text-shadow: 4px 4px 0px #000000;
    
}


.button{
    color: #000;
    display: inline-block;
    background-color: #F25A70;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;

}
*/

